/* src/components/molecules/FormTitle/FormTitle.css */
.form-title-input {
    border: none;
    transition: border-bottom 0.2s ease-in-out;
    outline: none;
    background: transparent;
    color: rgb(32, 33, 36);
    font-size: 32px;
    line-height: 40px;
    width: 100%;
  }
  
  .form-title-input:focus {
    border-bottom: 2px solid var(--primary-color);
  }