.grid-container {
    display: flex;
    padding: 5px;
    margin-bottom: 24px;
}

.row-heading,
.column-heading {
    font-family: Roboto, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 20px;
    color: var(--text-color);
    font-weight: 500;
}

.grid-rows,
.grid-columns {
    flex-direction: column;
    display: flex;
    gap: 14px;
    flex: 0.5;
    padding: 0px;
}