:root {
    --purple-primary: #673ab7;
    --purple-secondary: #f3e5f5;
    --dark-primary: #202124;
    --dark-secondary: #f0f0f0;
    --red-secondary: #ffebee;
    --red-primary: #db4437;
    --text-color: rgb(32, 33, 36);
    --border-color: rgb(218, 220, 224);
    --background-color: #f0ebf8;
    --icon-color: #5f6368;
  }
  
  .purple-theme {
    --primary-color: var(--purple-primary);
    --secondary-color: var(--purple-secondary);
    --background-color: #5000e4;
  }
  
  .dark-theme {
    --primary-color: var(--dark-primary);
      --secondary-color: var(--dark-secondary);
      --background-color: #f9f9f9;
  }
  
  .red-theme {
    --primary-color: var(--red-primary);
      --secondary-color: var(--red-secondary);
      --background-color: #fce8e6;
  }