/* src/components/atoms/Toggle/Toggle.css */
.toggle {
    appearance: none;
    width: 32px !important;
    height: 12px !important;
    background: grey;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
  }
  
  .toggle:before {
    content: " ";
    position: absolute;
    height: 20px;
    width: 20px;
    background: white;
    margin: -4px;
    border-radius: 50%;
  }
  
  .toggle:checked {
    background-color: var(--primary-color);
  }
  
  .toggle,
  .toggle:before {
    box-shadow: 0 0 2px #444;
    transition: 0.5s;
  }
  
  .toggle:checked::before {
    transform: translateX(20px);
  }